@font-face {
    font-family: 'Fixel';
    src: url('/imp-proj/FixelText/FixelText-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f7f5f3; */
    background-color: white;
    font-family: 'Fixel', sans-serif;
    width: 100vw;
    height: 100vh;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    transition: 0.6s;
    z-index: 9999;
}
.head-left-section {
    display: flex;
}

.sticky {
    background-color: #23262b;
}

.headline.sticky {
    padding-top: 0rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.head-right-section {
    display: flex;
    gap: 2rem;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fancy {
    cursor: default;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

.contact_btn {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.contact_btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btn-rightside {
    display: flex;
    align-items: center;
}

.your-img {
    height: auto; 
    width: auto; 
    max-width: 5rem; 
    max-height: 5rem;
}

.main-content {
    background-color: orange;
    width: 100wv;
    min-height: 60vh;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    padding-top: 17rem;
}

li, a, button {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.head-text {
    display: flex;
    align-items: center;
}


.head-text > h1 {
    color:white;
    font-size: 2rem;
}
span {
    opacity: 0;
    transition: all 0.8s ease;
    
}


span.fade {
    opacity: 1;
}

.text-slogan {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 70vh; 
}

.section-2 {
    color: black;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 34px;
}

.instructions-headline {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.instructions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.7rem;    
}


.instruction-container {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #0088a9;
    background-image: url('imgs/თბილისი.jpg');
    background-size: cover;
    border-radius: 32px;
    padding: 2rem;
}

.tbilisi {
    background-image: url('imgs/თბილისი.jpg');
}

.rustavi {
    background-image: url('imgs/რუსთავი.jpg');
}

.mcxeta {
    background-image: url('imgs/მცხეთა.jpg');
}
.xashuri {
    background-image: url('imgs/ხაშური.jpg');
}
.gori {
    background-image: url('imgs/გორი.jpeg');
}
.qutaisi {
    background-image: url('imgs/ქუთაისი.png');
}

.zestafoni {
    background-image: url('imgs/ზესტაფონი.jpg');
}

.batumi {
    background-image: url('imgs/ბათუმი.png');
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 32px;
    padding: 1.3rem;
    display: flex;
    opacity: 0;
    transition: opacity 0.25s;
    align-items: flex-end;
    justify-content: end;
}

.delivery-price {
    background-color: #0e78fe;
    border-radius: 0.5rem;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover > *{
    transform: translateY(0);
}


.regional-description {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}


/* Section 3 */


.section-3 {
    display: flex;
    margin-top: 10rem;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.info-about-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.info-about-img {
    flex: 1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}   

.about-img {
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    height: 80%;
}

.about-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-about-content {
    flex: 1;
}

.about-header {
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 300;
    font-size: 1.4rem;
}

.about-content {
    margin-top: 2rem;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
}



/* Footer Section */
.container-last{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



#logo  path:nth-child(1) {
    stroke-dasharray: 508.0687255859375;
    stroke-dashoffset: 508.0687255859375;
    animation: line-anim 2s ease forwards;
}
#logo  path:nth-child(2) {
    stroke-dasharray: 412.4158935546875;
    stroke-dashoffset: 412.4158935546875;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo  path:nth-child(3) {
    stroke-dasharray: 264.1920166015625;
    stroke-dashoffset: 264.192016601562564;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo  path:nth-child(4) {
    stroke-dasharray: 201.72802734375;
    stroke-dashoffset: 201.72802734375;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo  path:nth-child(5) {
    stroke-dasharray: 392.60833740234375;
    stroke-dashoffset: 392.60833740234375;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo  path:nth-child(6) {
    stroke-dasharray: 412.4158935546875;
    stroke-dashoffset: 412.4158935546875;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo  path:nth-child(7) {
    stroke-dasharray: 488.0594787597656;
    stroke-dashoffset: 488.0594787597656;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo  path:nth-child(8) {
    stroke-dasharray: 412.4158935546875;
    stroke-dashoffset: 412.4158935546875;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo  path:nth-child(9) {
    stroke-dasharray: 508.0687255859375;
    stroke-dashoffset: 508.0687255859375;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo  path:nth-child(10) {
    stroke-dasharray: 488.0594787597656;
    stroke-dashoffset: 488.0594787597656;
    animation: line-anim 2s ease forwards 2.7s;
}

#logo  path:nth-child(11) {
    stroke-dasharray: 201.72802734375;
    stroke-dashoffset: 201.72802734375;
    animation: line-anim 2s ease forwards 3s;
}

#logo  path:nth-child(12) {
    stroke-dasharray: 565.0777587890625;
    stroke-dashoffset: 565.0777587890625;
    animation: line-anim 2s ease forwards 3.2s;
}
#logo  path:nth-child(13) {
    stroke-dasharray: 475.13604736328125;
    stroke-dashoffset: 475.13604736328125;
    animation: line-anim 2s ease forwards 3.4s;
}

#logo  path:nth-child(14) {
    stroke-dasharray: 299.2640380859375;
    stroke-dashoffset: 299.2640380859375;
    animation: line-anim 2s ease forwards 3.6s;
}

#logo  path:nth-child(15) {
    stroke-dasharray: 299.2640380859375;
    stroke-dashoffset: 299.2640380859375;
    animation: line-anim 2s ease forwards 3.8s;
}

#logo  path:nth-child(16) {
    stroke-dasharray: 503.0677490234375;
    stroke-dashoffset: 503.0677490234375;
    animation: line-anim 2s ease forwards 4s;
}
#logo  path:nth-child(17) {
    stroke-dasharray: 330.7998046875;
    stroke-dashoffset: 330.7998046875;
    animation: line-anim 2s ease forwards 4.2s;
}
#logo  path:nth-child(18) {
    stroke-dasharray: 503.0677490234375;
    stroke-dashoffset: 503.0677490234375;
    animation: line-anim 2s ease forwards 4.3s;
}
#logo  path:nth-child(19) {
    stroke-dasharray: 430.12713623046875;
    stroke-dashoffset: 430.12713623046875;
    animation: line-anim 2s ease forwards 4.6s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}




